<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Category</key>
	<array>
		<string>Showcase</string>
		<string>Travel Costs</string>
		<string>Service</string>
		<string>Overnight Stay</string>
	</array>
</dict>
</plist>
